.w-full.max-w-sm.mx-auto.overflow-hidden.bg-white.rounded-lg.shadow-md
  .px-6.py-6
    %h2.mt-3.text-xl.font-medium.text-center.text-brandGray New Task
    = render 'commons/form_errors', object: @task
    = render 'commons/task-form', board: @board, task: @task
