%div.bg-white.shadow-lg.rounded-lg.max-w-2xl.container.p-0.relative.z-2
    .p-6.flex.flex-col.gap-5
        .flex.gap-1.items-center.py-1.px-3.border.rounded-full.text-gray-500.w-fit.text-xs
            Board:
            =link_to @board.name, board_path(@board.id), class: "hover:text-blue-500"
        .flex.flex-col.gap-1
            -if @task.due_date
                .text-gray-500.text-xs 締切：#{@task.due_date}
            %h2.font-bold.text-lg #{@task.name}
        .text-gray-500 #{@task.description}
