= form_with(model: board, local: true, data: { turbo: false }) do |f|
  .w-full.mt-4
    %label{ for: 'board_name', class: 'label' }
      Name
    = f.text_field :name, class: 'input'
  .w-full.mt-4
    %label{ for: 'board_description', class: 'label' }
      Description
    = f.text_area :description, class: 'input'
  .flex.items-center.justify-center.mt-4
    = f.submit 'Submit', class: 'submit'
