.bg-white.shadow-lg.rounded-lg.p-4.border.border-brandGray.flex.items-center.justify-between
  %div
    .flex.gap-2.items-center
      = image_tag comment.user.avatar_image, class: 'flex-shrink-0 size-8 rounded-full'
      %p.font-bold.text-brandBlack= comment.user.name
    .mt-4= comment.content
  - if user_signed_in? && comment.user == current_user
    =link_to "削除", comment_path(comment.id), class: 'text-danger text-xs', data: { turbo_confirm: 'コメントを削除しますか？', turbo_method: 'delete' }
