
.px-5.py-6.rounded-lg.shadow-md.border.border-gray-400.relative.flex.flex-col.gap-3.bg-white
  =link_to "", board_task_path(board.id, task.id), class: "inset-0 absolute"
  .flex.gap-2.items-center.justify-between
    - if task.due_date
      .text-xs 締切：#{task.due_date}
    -if user_signed_in? && task.user == current_user
      %button.ml-auto.cursor-pointer.relative.focus:border-blue-500.focus:ring-opacity-40.focus:ring-blue-300.focus:ring.focus:outline-none{class: "hover:[&>*]:opacity-100 hover:[&>*]:visible focus-within:[&>*]:opacity-100 focus-within:[&>*]:visible"}
        %span.text-gray-600.tracking-tighter ・・・
        .absolute.w-fit.top-full.right-0.z-10.w-30.bg-white.rounded-md.shadow-xl.opacity-0.invisible.transition-opacity.delay-100
          -# TODO: link先の実装
          =link_to do
            .flex.items-center.p-3.text-sm.text-gray-600.capitalize.transition-colors.duration-300.transform.hover:bg-gray-100
              =image_tag "icon_write.svg", class:"w-5 h-5 mx-1"
              %span.mx-1
                Edit
          -# TODO: link先の実装
          = link_to data: { turbo_confirm: "この操作は取り消せません。本当に削除しますか？",turbo_method: 'delete'} do
            .flex.items-center.p-3.text-sm.text-gray-600.capitalize.transition-colors.duration-300.transform.hover:bg-gray-100
              =image_tag "icon_delete.svg", class:"w-5 h-5 mx-1 flex-shrink-0"
              %p.mx-1.flex-1
                Delete
  %p.text-xl.font-bold.text-gray-700 #{task.name}
  .flex.items-center.gap-1.justify-between
    =image_tag task.user.avatar_image, class: "flex-shrink-0 size-8 rounded-full"
    .flex.items-center.gap-2
      .flex.items-center
        -# TODO: コメント機能の実装
        =image_tag board.user.avatar_image, class: "flex-shrink-0 size-6 rounded-full -ml-2"
        =image_tag board.user.avatar_image, class: "flex-shrink-0 size-6 rounded-full -ml-2"
        =image_tag board.user.avatar_image, class: "flex-shrink-0 size-6 rounded-full -ml-2"
        =image_tag board.user.avatar_image, class: "flex-shrink-0 size-6 rounded-full -ml-2"
      .flex.items-center.gap-1
        =image_tag "icon_comment.svg", class: "flex-shrink-0 size-5"
        5

