.grid.grid-cols-1.gap-6.p-4.bg-white.shadow-lg.rounded.md:p-6
  - @boards.each do |board|
    = render 'commons/board-card', board: board
  = link_to '＋ Add new board', new_board_path, class: 'new-card'
