%div.grid.grid-cols-1.gap-6.p-6.bg-white.shadow-lg.md:grid-cols-2.rounded-lg
    =link_to "＋ Add new board", new_board_path, class: "flex items-center justify-center font-midium text-lg p-5 rounded-lg shadow-md border border-gray-400 border-dashed"
    - @boards.each do | board |
        =render 'commons/board-card', board: board
