.w-full.max-w-sm.mx-auto.overflow-hidden.bg-white.rounded-lg.shadow-md
  .px-6.py-6
    %h2.mt-3.text-xl.font-medium.text-center.text-gray-600 New Board
    = render 'commons/form_errors', object: @board
    = render 'commons/board-form', board: @board
