.bg-white.shadow-lg.rounded-lg.max-w-2xl.p-3.rounded-lg.mx-auto.md:p-6
  .font-bold.text-2xl= @board.name
  .mt-1.text-brandGrayDark.text-lg= @board.description
  .mt-4.space-y-4
    - @tasks.each do |task|
      = render 'commons/task-card', board: @board, task: task, show_read_more: false
    = link_to '＋ Add new Task', new_board_task_path(@board.id), class: 'new-card'
